* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #fff;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin: 28px;
    font-size: 35px;
}

.nav h6 {
    font-weight: 100;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(275px);
    flex-direction: column;
}

.title h1 {
    margin: auto;
    font-size: 150px;
}

.title p {
    margin-top: 14px;
    font-size: 25px;
    width: 60%;
}

#sec {
    flex-wrap: wrap;
    display: flex;
    background-color: #000;
    position: relative;
    bottom: -1000px;
    padding: 10% 25%;
    justify-content: center;

}

h2 {
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 59px;
    font-size: 78px;
}

.albuns {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.albuns img {
    left: -208px;
    top: 75px;
    position: relative;
}

.albuns a {
    text-decoration: none;
}

.capas {
    display: flex;
    margin-top: -388px;
}

.capa-first img {
    position: relative;
    right: 315px;
    top: 424px;
    width: 268px;
    height: 381px;
}


.capa-two img {
    position: relative;
    left: 315px;
    top: 578px;
    width: 268px;
    height: 381px;
}


#sec-two {
    background: rgba(0, 0, 0, 0.97);
    position: relative;
    top: 1000px;
    padding: 24%
}


.text-sup {
    color: #fff;
    position: absolute;
    top: 50px;
}

.text-sup h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 60px;
}

.text-sup h1 {
    font-size: 31px;
    position: relative;
    left: 27px;
}

.bar-loading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
    z-index:9999;
}

span {
    font-size: 25px;
}

span::before {
    content: '';
    position: absolute;
    width: 130px;
    height: 3px;
    margin-top: 35px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.5s;
    opacity: .4;
   
    
}

span:hover::before {
    -webkit-box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    opacity: 1;
 
}

.singers {
    position: relative;
    left: 312px;
    bottom: 140px;
}

.singers img {
    position: relative;
    left: 100px;
    -webkit-box-shadow: 20px 3px 97px -36px rgba(31, 22, 61, 0.6);
    -moz-box-shadow: 20px 3px 97px -36px rgba(31, 22, 61, 0.6);
    box-shadow: 20px 3px 97px -36px rgba(31, 22, 61, 0.6);

}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    color: #fff;
}

.info h3 {
    position: relative;
    right: 315px;
    top: 359px;
    margin-bottom: 75px;
}

.title-one {
    font-size: 35px;
}

.title-two {
    font-size: 15px;
    font-weight: 200;
    margin-top: -36px;
}

.title-three a {
    font-size: 10px;
    color: #fff;
}

.noise {
    display: block;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 9999;
    overflow: hidden;
    width: 200vw;
    height: 200vh;
    left: -50vw;
    top: -50vh;
    background: rgba(0, 0, 0, 0) repeat 0 0;
    -webkit-animation: noise-animation .2s steps(2) infinite;
    animation: noise-animation .2s steps(2) infinite;
    transition: opacity 1s;
    will-change: transform;
    background-size: cover;
    background-repeat: repeat;
}

.noise img {
    width: 174vw;
}

.noise.fixed {
    position: fixed
}

@-webkit-keyframes noise-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5vw, -5vh)
    }

    20% {
        transform: translate(-10vw, 5vh)
    }

    30% {
        transform: translate(5vw, -10vh)
    }

    40% {
        transform: translate(-5vw, 15vh)
    }

    50% {
        transform: translate(-10vw, 5vh)
    }

    60% {
        transform: translate(15vw, 0vh)
    }

    70% {
        transform: translate(0vw, 10vh)
    }

    80% {
        transform: translate(-15vw, 0vh)
    }

    90% {
        transform: translate(10vw, 5vh)
    }

    100% {
        transform: translate(5vw, 0vh)
    }
}

@keyframes noise-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5vw, -5vh)
    }

    20% {
        transform: translate(-10vw, 5vh)
    }

    30% {
        transform: translate(5vw, -10vh)
    }

    40% {
        transform: translate(-5vw, 15vh)
    }

    50% {
        transform: translate(-10vw, 5vh)
    }

    60% {
        transform: translate(15vw, 0vh)
    }

    70% {
        transform: translate(0vw, 10vh)
    }

    80% {
        transform: translate(-15vw, 0vh)
    }

    90% {
        transform: translate(10vw, 5vh)
    }

    100% {
        transform: translate(5vw, 0vh)
    }
}