* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #fff;
}

.nav {
    display: flex;
    justify-content: flex-end;
    margin: 28px;
    font-size: 35px;
}

.nav h6 {
    font-weight: 100;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(200px);
    flex-direction: column;
}

.title h1 {
    margin: auto;
    font-size: 150px;
}

.title p {
    margin-top: 14px;
    font-size: 25px;
    width: 54%;
    text-align: center;
}

#sec {
    flex-wrap: wrap;
    display: flex;
    background-color: #000;
    position: relative;
    bottom: -1000px;
    padding: 10% 25%;
    justify-content: center;

}

h2 {
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 59px;
    font-size: 78px;
}

.albuns {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.albuns img {
    left: -208px;
    top: 75px;
    position: relative;
}

.albuns a {
    text-decoration: none;
}

.capas {
    display: flex;
    margin-top: -388px;
}

.capa-first img {
    position: relative;
    right: 315px;
    top: 424px;
    width: 268px;
    height: 381px;
}

.capa-two img {
    position: relative;
    left: 315px;
    top: 578px;
    width: 268px;
    height: 381px;
}

#sec-two {
    background: rgba(0, 0, 0, 0.97);
    position: relative;
    top: 1000px;
    padding: 8% 24%;
}

.text-sup {
    color: #fff;
    position: absolute;
    top: 50px;
}

.text-sup h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 60px;
}

.text-sup h1 {
    font-size: 31px;
    position: relative;
    left: 27px;
}

.bar-loading {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    cursor: pointer;
    top: 180px;
    z-index: 9999;
}

span {
    font-size: 25px;
}

span::before {
    content: '';
    position: absolute;
    width: 130px;
    height: 3px;
    margin-top: 35px;
    background-color: #fff;
    border-radius: 2px;
    transition: 0.5s;
    opacity: .4;
}

span:hover::before {
    -webkit-box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    opacity: 1;
}

.singers {
    position: relative;
    left: 312px;
    bottom: -50px;
}

.singers img {
    position: relative;
    left: 100px;
    -webkit-box-shadow: 20px 3px 97px -36px rgba(31, 22, 61, 0.6);
    -moz-box-shadow: 20px 3px 97px -36px rgba(31, 22, 61, 0.6);
    box-shadow: 20px 3px 97px -36px rgba(31, 22, 61, 0.6);
}

.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    color: #fff;
}

.info h3 {
    position: relative;
    right: 315px;
    top: 359px;
    margin-bottom: 75px;
}

.title-one {
    font-size: 35px;
}

.title-two {
    font-size: 15px;
    font-weight: 200;
    margin-top: -36px;
}

.title-three a {
    font-size: 10px;
    color: #fff;
}

#sec-three {
    background-color: #fff;
    position: relative;
    top: 1000px;
    padding: 12% 15%;
}

.text-sup-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text-sup-two h5 {
    margin-bottom: -78px;
    font-size: 19px;
    text-align: center;
}

.text-sup-two h6 {
    margin-bottom: 25px;
    font-size: 19px;

}


.text-sup-two h1 {
    margin-bottom: 33px;
    font-size: 34px;
    text-align: center;
}

.control {
    display: flex;
    justify-content: center;

}

.rec {
    position: absolute;

}

.videoV2 {
    position: relative;
    left: -388px;
}

.videoV4 {
    position: relative;
    right: -388px;
}


.videoV2::before {
    -webkit-box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    -moz-box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    box-shadow: 6px 2px 180px -4px rgba(255, 255, 255, 1);
    opacity: 1;
}

.control .rec video {
    position: absolute;
    width: 279.5%;
    top: 900px;
    height: 357%;
    left: -510px;
    object-fit: cover;
    z-index: -9999;
}

.control-v2 {
    position: relative;
    top: 985px;

}

.control-v2 .rec video {
    position: absolute;
    width: 326.9%;
    top: 900px;
    height: 255%;
    left: -550px;
    object-fit: cover;
    z-index: -9999;
}


.bar-loading-two-v10 {
    color: #fff;
    position: relative;
    left: -388px;
    top: 1129px;
}

.bar-loading-two-v10 h3 {
    margin-top: 25px;
}

.bar-loading-two-v10 h5 {
    margin-top: 25px;
}

.bar-loading-two-v10 h4 {
    color: #fff;
    font-size: 10px;
    margin-top: 55px;
}

.bar-loading-two-v10 a {
    color: #fff;
}



.control-v3 {
    position: relative;
    top: 1050px;
}


.control-v3 .rec video {
    position: absolute;
    width: 326.9%;
    top: 700px;
    height: 257%;
    left: -550px;
    object-fit: cover;
    z-index: -9999;
}

.bar-loading-two-v11 {
    color: #fff;
    position: relative;
    left: -480px;
    top: 1000px;
}

.bar-loading-two-v11 h3 {
    margin-top: 25px;
}

.bar-loading-two-v11 h5 {
    margin-top: 25px;
}

.bar-loading-two-v11 h4 {
    color: #fff;
    font-size: 10px;
    margin-top: 55px;
}

.bar-loading-two-v11 a {
    color: #fff;
}


.videoV2-v8 {
    position: relative;
    left: -388px;
}

.videoV4-v8  {
    position: relative;
    right: -547px;
    top: -34px;
}

.videoV3-v8  {
    position: relative;
    right: 150px;
}



.bar-loading-two-v8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    margin: 40px;
    top: 1200px;
    color: #fff;
}

.bar-loading-two {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    margin: 40px;
    top: 1600px;
}

.bar-loading-two-v6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 9999;
    margin: 40px;
    top: 1407px;
}

.videoV2-v6 {
    position: relative;
    left: -388px;
}

.videoV4-v6  {
    position: relative;
    right: -547px;
    top: -34px;
}

.videoV3-v6  {
    position: relative;
    right: 150px;
}


.bar-loading-two-v6 span {
    cursor: pointer;
    color: #fff;
 
 
}



.bar-loading-two span {
    cursor: pointer;
    color: #fff;
}


.bar-loading-two-v2 {
    color: #fff;
    position: relative;
    left: -388px;
    top: 1350px;
}

.bar-loading-two-v2 h3 {
    margin-top: 25px;
}

.bar-loading-two-v2 h5 {
    margin-top: 25px;
}

.bar-loading-two-v2 h4 {
    color: #fff;
    font-size: 10px;
    margin-top: 55px;
}

.bar-loading-two-v2 a {
    color: #fff;
}

#sec-four {
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 1655px;
    padding: 8% 15%;
}


.camps {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.camps input {
    outline: none;
    border: none;
    padding: 35px;
    margin-bottom: 55px;
    border-bottom: solid #000;
}

.camps input:hover::placeholder {
    opacity: 0.4;
}

::placeholder {
    text-align: center;
    font-size: 32px;
    opacity: 1;
    font-weight: 700;
}

.camps label {
    font-size: 25px;
    font-weight: 700;
}

.camps button {
    cursor: pointer;
    position: relative;
    left: 117px;
    background-color: #fff;
    width: 31%;
    height: 80px;
    outline: 2px solid rgba(0, 0, 0, 0);
    outline-offset: 2px;
    border: none;
    border-bottom: solid #000;
    font-weight: 700;
}



.noise {
    display: block;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    z-index: 9999;
    overflow: hidden;
    width: 200vw;
    height: 200vh;
    left: -50vw;
    top: -50vh;
    background: rgba(0, 0, 0, 0) repeat 0 0;
    -webkit-animation: noise-animation .2s steps(2) infinite;
    animation: noise-animation .2s steps(2) infinite;
    transition: opacity 1s;
    will-change: transform;
    background-size: cover;
    background-repeat: repeat;
}

.noise img {
    width: 174vw;
}

.noise.fixed {
    position: fixed
}

@-webkit-keyframes noise-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5vw, -5vh)
    }

    20% {
        transform: translate(-10vw, 5vh)
    }

    30% {
        transform: translate(5vw, -10vh)
    }

    40% {
        transform: translate(-5vw, 15vh)
    }

    50% {
        transform: translate(-10vw, 5vh)
    }

    60% {
        transform: translate(15vw, 0vh)
    }

    70% {
        transform: translate(0vw, 10vh)
    }

    80% {
        transform: translate(-15vw, 0vh)
    }

    90% {
        transform: translate(10vw, 5vh)
    }

    100% {
        transform: translate(5vw, 0vh)
    }
}

@keyframes noise-animation {
    0% {
        transform: translate(0, 0)
    }

    10% {
        transform: translate(-5vw, -5vh)
    }

    20% {
        transform: translate(-10vw, 5vh)
    }

    30% {
        transform: translate(5vw, -10vh)
    }

    40% {
        transform: translate(-5vw, 15vh)
    }

    50% {
        transform: translate(-10vw, 5vh)
    }

    60% {
        transform: translate(15vw, 0vh)
    }

    70% {
        transform: translate(0vw, 10vh)
    }

    80% {
        transform: translate(-15vw, 0vh)
    }

    90% {
        transform: translate(10vw, 5vh)
    }

    100% {
        transform: translate(5vw, 0vh)
    }
}